<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>轻松一刻</key>
	<string>T1350383429665</string>
	<key>娱乐</key>
	<string>T1348648517839</string>
	<key>汽车</key>
	<string>T1348654060988</string>
	<key>头条</key>
	<string>T1348647853363</string>
	<key>科技</key>
	<string>T1348649580692</string>
	<key>财经</key>
	<string>T1348648756099</string>
	<key>健康</key>
	<string>T1414389941036</string>
	<key>时尚</key>
	<string>T1348650593803</string>
</dict>
</plist>
